.btn {
    outline: none;
    text-align: center;
    border: 1px solid transparent;
    transition: 120ms;
    cursor: pointer;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: inherit;

    &.custom {
        border: 1px solid transparent !important;
    }

    &:disabled {
        opacity: 0.5;
        box-shadow: none;
    }

    &.full-width {
        width: 100%;
    }

    .align {
        &-right {
            justify-self: flex-end;
        }
        &-center {
            justify-self: center;
        }
    }

    &.sm {
        padding: 8px 16px;
        font-size: 14px;

        @media screen and (max-width: $bp-laptop-md) {
            font-size: 12px;
        }

        &-x {
            font-size: 11px;
            padding: 12px;

            @media screen and (max-width: $bp-laptop-md) {
                font-size: 10px;
            }
        }
    }

    &.md {
        padding: 12px 16px;
        font-size: 16px;

        &.medium-large {
            font-size: 18px;
            padding: 14px 28px;
        }

        @media screen and (max-width: $bp-laptop-md) {
            font-size: 14px;
        }
    }

    &.lg {
        padding: 12px 32px;
        font-size: 20px;

        @media screen and (max-width: $bp-laptop-md) {
            font-size: 16px;
        }
    }

    &.primary {
        background-color: var(--blue);
        border: 1px solid var(--blue);
        color: var(--white);
        font-weight: 500;

        &:active {
            background-color: var(--blue-darker);
            border: 1px solid var(--blue-darker);
        }

        &:hover {
            background-color: var(--blue-darker);
            border: 1px solid var(--blue-darker);

            &:disabled {
                opacity: 0.5;
            }
        }
    }

    &.secondary {
        background-color: var(--white);
        border: 1px solid var(--blue-lightest);
        color: var(--button-text-color);
        font-weight: 500;

        &.active {
            background-color: var(--blue-lightest);
        }

        &:hover {
            background-color: var(--blue-lightest);

            &:disabled {
                opacity: 0.5;
            }
        }
    }

    &.inverted {
        background-color: var(--white);
        color: var(--blue);
        border: 1px solid var(--blue);

        &:hover {
            background-color: var(--blue);
            border: 1px solid var(--blue);
            color: var(--button-text-color);

            &:disabled {
                opacity: 0.5;
            }
        }
    }

    &.tab {
        color: var(--button-text-color);
        background: transparent;
        font-weight: 400;

        &:hover {
            background-color: var(--white);
        }

        &.active {
            background-color: var(--blue-lightest);
            font-weight: 600;
        }
    }

    .google-icon,
    .reddit-icon {
        margin-right: 8px;
    }
}
