.button-link {
    font-size: 14px;
    color: #539bfb;
    border-bottom: 2px solid #d4e4fa;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    transition: 120ms cubic-bezier(0.445, 0.05, 0.55, 0.95);

    &.large {
        font-size: 18px;
    }

    .arrow {
        margin-left: 4px;
        transition: 120ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
    }
}
