.btn {
    outline: none;
    text-align: center;
    border: none;
    transition: 120ms;
    cursor: pointer;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:disabled {
        opacity: 0.5;
        box-shadow: none;
    }

    &.full-width {
        width: 100%;
    }

    .align {
        &-right {
            justify-self: flex-end;
        }
        &-center {
            justify-self: center;
        }
    }

    &.sm {
        padding: 8px 16px;
        font-size: 14px;

        @media screen and (max-width: $bp-laptop-md) {
            font-size: 12px;
        }

        &-x {
            font-size: 11px;
            padding: 12px;

            @media screen and (max-width: $bp-laptop-md) {
                font-size: 10px;
            }
        }
    }

    &.md {
        padding: 12px 16px;
        font-size: 16px;

        @media screen and (max-width: $bp-laptop-md) {
            font-size: 14px;
        }
    }

    &.lg {
        padding: 16px 32px;
        font-size: 20px;

        @media screen and (max-width: $bp-laptop-md) {
            font-size: 16px;
        }
    }

    &.primary {
        background-color: var(--blue);
        border: 1px solid var(--blue);
        color: white;
        font-weight: 600;

        &:active {
            background-color: var(--blue-darker);
            border: 1px solid var(--blue-darker);
        }

        &:hover {
            background-color: var(--blue-darker);
            border: 1px solid var(--blue-darker);

            &:disabled {
                opacity: 0.5;
            }
        }
    }

    &.secondary {
        background-color: var(--blue-lightest);
        border: 1px solid var(--blue-lightest);
        color: var(--blue);
        font-weight: 600;

        &:active {
            background-color: var(--blue-darker);
            border: 1px solid var(--blue-darker);
        }

        &:hover {
            background-color: var(--blue-darker);
            border: 1px solid var(--blue-darker);
            color: white;

            &:disabled {
                opacity: 0.5;
            }
        }
    }

    &.inverted {
        background-color: white;
        color: var(--blue);
        border: 1px solid var(--blue);

        &:hover {
            background-color: var(--blue);
            border: 1px solid var(--blue);
            color: white;

            &:disabled {
                opacity: 0.5;
            }
        }
    }

    .google-icon {
        margin-right: 8px;
    }
}
