.button-link {
    font-size: 14px;
    color: #539BFB;
    border-bottom: 2px solid #D4E4FA;
    display: inline-flex;
    cursor: pointer;
    transition: 120ms cubic-bezier(0.445, 0.05, 0.55, 0.95);

    .arrow {
        margin-left: 4px;
        transition: 120ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
    }

    &:hover {
        border-bottom: 2px solid #539BFB;

        .arrow {
            transform: translateX(3px);
        }
    }
}
