.input-checkbox {
    &-container {
        display: inline-block;
        vertical-align: middle;
        margin-right: 8px;
    }

    &-input {
        border: 0;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        white-space: nowrap;
        width: 1px;
    }

    &-styled {
        display: inline-block;
        background-color: var(--white);
        border: 1px solid #e2e5eb;
        border-radius: 3px;

        &.checked {
            background: var(--blue);
            box-shadow: 0px 0px 0px 1px rgba(#539bfb, 0.6);
        }

        &.s {
            width: 12px;
            height: 12px;
        }
        &.m {
            border-radius: 4px;
            width: 16px;
            height: 16px;
        }
        &.l {
            border-radius: 6px;
            width: 24px;
            height: 24px;
        }
    }

    &-check-icon {
        fill: none;
        stroke: white;
        stroke-width: 2px;
        visibility: hidden;

        &.checked {
            visibility: visible;
        }
    }
}
