.cta-card {
    position: fixed;
    bottom: 24px;
    right: 24px;
    max-width: 400px;
    background: var(--white);
    padding: 24px;
    border-radius: 8px;
    box-shadow: 0px 1px 22px rgba(0, 16, 75, 0.2);
    transition: 320ms ease-out;
    transform: translateX(120%);
    z-index: 12;

    @media screen and(max-width: 868px) {
        width: calc(100% - 24px);
        right: 12px;
    }

    &.visible {
        transform: translateX(0%);
    }

    .close-cross {
        position: absolute;
        top: 12px;
        right: 12px;
    }

    p {
        margin-bottom: 24px;
    }
}
