.mobile-toggle {
    display: none;

    @media screen and(max-width: $bp-tablet-lg) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 8px 0;
    }
}

.filters {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0 0px;

    &.closed {
        display: none;
    }

    .counter {
        margin-left: 16px;
        text-align: right;
    }

    .btn {
        .filter-icon {
            margin-right: 4px;
        }
    }

    .left-side {
        display: inline-flex;
    }

    .desktop-only {
        display: inline-flex !important;

        @media screen and (max-width: $bp-tablet-lg) {
            display: none !important;
        }
    }

    .more-filters {
        display: flex;

        .btn.reset-filters {
            margin-left: 8px;
            visibility: hidden;

            &.visible {
                visibility: visible;
            }
        }
    }

    .filter {
        display: flex;
        flex-direction: column;
        margin-right: 16px;

        .tabs {
            display: flex;

            .btn {
                margin-right: 8px;
            }
        }

        .input-wrapper {
            min-width: 216px;
        }

        &.favorites {
            justify-content: center;

            .button-link {
                margin-top: 16px;
            }
        }
    }

    @media screen and (max-width: $bp-tablet-lg) {
        margin: 0;
        padding: 0;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        .left-side {
            width: 100%;
            display: block;

            .filter {
                margin: 0 0 8px;
                flex: 1;
            }
        }

        .counter {
            display: none;
        }
    }
}

.extra-filters {
    height: 0;
    // overflow: hidden;
    margin: 0 0 24px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .filter {
        flex: 1;
        margin-bottom: 12px;

        &:nth-child(2) {
            padding: 0 24px;
        }
    }

    @media screen and (max-width: $bp-tablet-md) {
        flex-direction: column;

        .filter {
            width: 100%;

            &:nth-child(2) {
                padding: 0;
            }
        }
    }
}
