.mobile-toggle {
    display: none;

    @media screen and(max-width: 562px) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 8px 0;
    }
}

.filters {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0 24px;
    margin-top: 48px;

    &.closed {
        display: none;
    }

    .counter {
        margin-left: 16px;
        text-align: right;
    }

    .left-side {
        display: inline-flex;

        .filter {
            display: flex;
            flex-direction: column;
            margin-right: 16px;

            &.mobile-only {
                display: none;

                @media screen and (max-width: 556px) {
                    display: flex !important;
                    flex: 1;
                }
            }

            &.desktop-only {
                display: inline-flex;

                @media screen and (max-width: 556px) {
                    display: none;
                }
            }

            .tabs {
                display: flex;

                .btn {
                    min-width: 80px;
                    margin-right: 8px;
                }
            }

            .input-wrapper {
                min-width: 216px;
            }
        }
    }

    @media screen and (max-width: 556px) {
        margin: 0;
        padding: 0 0 24px 0;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        .left-side {
            width: 100%;
            display: block;

            .filter {
                margin: 0 0 24px;
                flex: 1;
            }
        }

        .counter {
            display: none;
        }
    }
}
