.footer {
    font-size: 16px;
    @media screen and(max-width: 562px) {
        font-size: 13px;
    }
    padding: 24px 0px;
    color: var(--text-color-light);
    background: var(--darker-white);
    // background: linear-gradient(180deg, rgba(248, 249, 251, 1) 20%, #F8F9FB 100%);

    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 9;

    @media screen and(max-width: 562px) {
        position: relative;
    }

    .sponsored-by {
        display: inline-flex;
        align-items: center;

        img {
            margin-right: 4px;
        }
    }

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media screen and(max-width: 562px) {
            flex-direction: column;
        }
    }

    > .flex {
        flex: 1;
    }

    p {
        color: inherit;
        font-size: inherit;
    }

    .socials-container {
        display: inline-flex;
        align-items: center;

        a {
            margin-right: 16px;

            &:last-child {
                margin-right: 0;
            }
        }

        @media screen and(max-width: 562px) {
            flex-direction: column;
            margin-top: 24px;
            a {
                margin-top: 4px;
                margin-bottom: 4px;
            }

            .social-icons {
                display: flex;
                padding: 8px 0;
                justify-content: center;
            }
        }
    }
}
