.heading {
    padding: 48px 0 24px;

    &.home {
        padding: 80px 0;
    }
    // background: linear-gradient(54.97deg, #D4E4FA -12.28%, #ABCCF8 112.82%, #ABCCF8 112.82%);
    border-radius: 8px;

    &.left {
        padding: 48px 0;

        @media screen and (max-width: $bp-tablet-sm) {
            padding: 48px 0 0px;
        }
    }

    @media screen and (max-width: $bp-tablet-sm) {
        padding: 32px 0 32px;
    }

    .title {
        margin-bottom: 0px;
        color: var(--text-color);
        font-weight: 500;

        &-sub {
            &-home {
                font-size: 16px;
            }
        }
    }

    &-cta {
        p {
            display: inline-flex;
            margin: 0 12px;
            color: var(--text-color-lightest);

            @media screen and (max-width: $bp-tablet-sm) {
                font-size: 12px;
            }
        }
    }

    &.center {
        text-align: center;

        @media screen and (max-width: 768px) {
            text-align: left;
        }
    }

    .btn {
        margin-top: 32px;
    }

    .home {
        padding: 128px 0;
    }

    .search-input {
        max-width: 533px;
        margin: 12px 0 0 0;

        @media screen and (min-width: 768px) {
            margin: 32px auto 0;
        }

        .input-wrapper {
            input {
                font-size: 16px;
                padding: 12px 24px;
            }
        }
    }

    h1 {
        // margin-bottom: 24px;
    }
}
