.heading {
    padding: 64px 42px 88px;

    @media screen and (max-width: 1441px) {
        padding: 56px 0 48px; // 42px 64px;
    }
    // background: linear-gradient(54.97deg, #D4E4FA -12.28%, #ABCCF8 112.82%, #ABCCF8 112.82%);
    border-radius: 8px;

    &.left {
        padding: 48px 0;

        @media screen and (max-width: $bp-tablet-sm) {
            padding: 48px 0 0px;
        }
    }

    @media screen and (max-width: $bp-tablet-sm) {
        padding: 88px 0px;
    }

    .title {
        margin-bottom: 0px;
        color: var(--text-color);
        font-weight: 500;

        &-sub {
            // @media screen and(max-width: 562px) {
            //     display: none;
            // }

            &-home {
                font-size: 16px;
            }
        }
    }

    &-cta {
        p {
            display: inline-flex;
            margin: 0 12px;
            color: var(--text-color-lightest);

            @media screen and (max-width: $bp-tablet-sm) {
                font-size: 12px;
            }
        }
    }

    &.center {
        text-align: center;

        @media screen and (max-width: 768px) {
            text-align: left;
        }
    }

    .btn {
        margin-top: 32px;
    }

    .home {
        padding: 128px 0;
    }

    .search-input {
        max-width: 533px;
        @media screen and (min-width: 768px) {
            margin: 0 auto;
        }

        .input-wrapper {
            input {
                font-size: 16px;
                padding: 12px 24px;
            }
        }
    }

    h1 {
        // margin-bottom: 24px;
    }
}
