.image-modal {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10;

    .image-modal__container {
        position: relative;
        height: 100%;
        width: 100%;
        max-width: 1176px;
        margin: 0 auto 12px;

        @media screen and (min-width: 1328px) {
            max-width: 1280px;
        }

        @media screen and (min-width: 1441px) {
            max-width: 1416px;
        }
    }

    .image-modal__overlay {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        animation: fadeIn 0.4s ease both;
        background: rgba(0, 0, 0, 0.5);
    }

    img {
        transition: left 0.5s ease, top 0.5s ease, width 0.5s ease;
        position: relative;
        top: 32px;
        left: 0;
        width: 100%;
        background: var(--white);
        opacity: 0;
    }
}

.image-wrapper {
    position: relative;

    &--loading {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(0, 0, 0, 0.5);
        z-index: 2;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 100px;
    }
}
