.image-modal {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 10;

    img {
        transition: left 0.5s ease, top 0.5s ease, width 0.5s ease;
        position: relative;
        top: 32px;
        left: 0;
        width: 100%;
        opacity: 0;
    }
}
