.images-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 24px;

    @media screen and(max-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media screen and(max-width: 414px) {
        grid-template-columns: 1fr;
    }
}
