.input-wrapper,
.input-wrapper-multiple,
.input-wrapper-select {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: var(--white-second);
    position: relative;
    -webkit-appearance: none;

    &.invalid {
        input {
            border: 1px solid var(--red);
        }
    }

    .icon {
        height: 12px;
        display: inline-flex;
        left: 8px;
        position: absolute;
        pointer-events: none;

        & + input {
            padding: 8px 16px 8px 24px;
        }
    }

    .input,
    input {
        border: 1px solid var(--text-color-secondary);
        font-size: 12px;
        color: var(--text-color-secondary);
        width: 100%;
        background-color: var(--white);
        padding: 8px 16px;
        font-weight: 400;
        color: #2b3548;
        border: 1px solid #e2e5eb;
        border-radius: 6px;
        outline: none;
        resize: none;

        &:focus {
            border: 1px solid var(--blue);
        }

        &::placeholder {
            color: var(--text-color-disabled);
        }
    }
}

.input-wrapper-multiple {
    display: block;
    margin-bottom: 24px;

    .input {
        margin-bottom: 8px;
    }
}

.input-wrapper-select {
    -webkit-appearance: none !important;
}
