.input {
    display: flex;
    flex-direction: column;

    .label {
        margin-bottom: 8px;
    }

    .input-wrapper {
        background-color: var(--white-second);
        border-radius: 4px;
        display: flex;
        align-items: center;
        position: relative;

        .icon {
            height: 12px;
            display: inline-flex;
            left: 8px;
            position: absolute;
            pointer-events: none;

            &+input {
                padding: 8px 16px 8px 24px;
            }
        }

        input {
            border: 1px solid var(--text-color-secondary);
            font-size: 12px;
            color: var(--text-color-secondary);
            letter-spacing: 0;
            outline: none;
            width: 100%;
            padding: 8px 16px;
        }
    }
}
