.input-wrapper-multiple,
.input-wrapper,
.input-wrapper-select {
    display: flex;
    flex-direction: column;
    background-color: var(--white-second);
    position: relative;
    -webkit-appearance: none;

    &.invalid {
        input {
            border: 1px solid var(--red);
        }
    }

    // .icon {
    //     height: 12px;
    //     display: inline-flex;
    //     left: 8px;
    //     position: absolute;
    //     pointer-events: none;

    //     & + input {
    //         padding: 8px 16px 8px 24px;
    //     }
    // }

    .input-container {
        position: relative;

        .icon {
            position: absolute;
            left: 15px;
            top: 15px;
        }

        .has-icon {
            padding-left: 40px !important;
        }
    }

    .input,
    input {
        border: 1px solid var(--text-color-secondary);
        font-size: 14px;
        color: var(--text-color-secondary);
        width: 100%;
        background-color: var(--white);
        padding: 12px 16px;
        font-weight: 400;
        color: #2b3548;
        border: 1px solid #e2e5eb;
        border-radius: 6px;
        outline: none;
        resize: none;
        font-family: inherit;

        &:focus {
            border: 1px solid var(--blue);
        }

        &::placeholder {
            color: var(--text-color-disabled);
        }

        @media screen and (max-width: 768px) {
            font-size: 12px;
            padding: 8px 12px;
        }
    }

    &.checkbox {
        .label {
            display: flex;
            align-items: flex-start;

            .text {
                margin-left: 8px;
            }
        }
    }

    textarea.input {
        min-height: 184px;
    }
}

.input-wrapper-multiple {
    display: block;
    margin-bottom: 24px;

    .input {
        margin-bottom: 8px;
    }
}

.input-wrapper-select {
    -webkit-appearance: none !important;
}

[data-theme='dark'] {
    .select-control {
        background-color: inherit !important;
        * {
            background-color: inherit !important;
        }
    }
}
