@import url('https://fonts.googleapis.com/css?family=Rubik:400,400i,500&display=swap');
@import 'variables';
@import 'typography';
@import 'set';
@import 'button';
@import 'heading';
@import 'tabs';
@import 'images';
@import 'upload';
@import 'image-card';
@import 'arrow';
@import 'back-to-top';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Rubik', sans-serif;
    background: #F8F9FB;
    // background: #f2f2f2;
    min-height: 100.1vh;
    max-width: 100vw;
    overflow-x: hidden;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
    box-sizing: border-box;
}


.fadeInUp {
    animation-name: fadeInUp;
    animation-direction: forwards;
}

@keyframes fadeInUp {
    0% {
        -webkit-transform: translate3d(0, 100%, 0);
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }

    100% {
        -webkit-transform: translateZ(0);
        opacity: 1;
        transform: translateZ(0);
    }
}

.container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;

    @media screen and (min-width: 1441px) {
        max-width: 1416px;
        padding-left: 24px;
        padding-right: 24px;
    }

    @media screen and (max-width: 1441px) {
        padding-left: 24px;
        padding-right: 24px;
    }

    &.large {
        @media screen and (min-width: 1888px) {
            max-width: 1840px;
        }
    }
}

.label {
    margin-bottom: 4px;
    font-size: 12px;
    letter-spacing: 0.2px;
    font-weight: 400;
    color: var(--text-color-light);
}

.about {
    width: calc(100% - 24px);

    @media screen and (max-width: 900px) {
        margin: 0 auto;
    }
}

.text-container {
    max-width: 900px;
}
