@import url('https://fonts.googleapis.com/css?family=Rubik:400,400i,500&display=swap');
@import 'variables';
@import 'modal';
@import 'typography';
@import 'nav';
@import 'set';
@import 'page';
@import 'button';
@import 'button-link';
@import 'heading';
@import 'user-profile-tag';
@import 'popover';
@import 'filters';
@import 'images';
@import 'upload';
@import 'user';
@import 'cards';
@import 'sign-up';
@import 'image-card';
@import 'vendor-card';
@import 'arrow';
@import 'back-to-top';
@import 'checkbox';
@import 'footer';
@import 'spacings';
@import 'input';
@import 'nav';
@import 'pill';
@import 'vendors';
@import 'cta-card';
@import 'image-modal';
@import 'poseidon';
@import 'dark-mode-switch';
@import 'error';
@import 'interestcheck';
@import 'promote-your-set';

::selection {
    background: var(--blue-lighter);
    color: #253249;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: background-color 300ms ease-out, color 250ms ease-in, border 400ms ease-in;
}

body {
    font-family: 'Rubik', sans-serif;
    background: var(--darker-white);
    min-height: 100.1vh;
    max-width: 100vw;
    overflow-x: hidden;
    padding-bottom: 48px; // Fixed footer height

    @media screen and(max-width: $bp-tablet-md) {
        padding-bottom: 0px;
    }
}

ul {
    list-style: none;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: inherit;

    &.inline {
        border-bottom: 1px solid currentColor;

        &:hover {
            color: var(--blue);
            border-color: var(--blue);
        }
    }

    &.link {
        color: var(--blue);
        border-bottom: 2px solid var(--blue-lightest);
    }
}

img {
    max-width: 100%;
    box-sizing: border-box;
}

.fadeInUp {
    animation-name: fadeInUp;
    animation-direction: forwards;
}

@keyframes fadeInUp {
    0% {
        -webkit-transform: translate3d(0, 100%, 0);
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }

    100% {
        -webkit-transform: translateZ(0);
        opacity: 1;
        transform: translateZ(0);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0px, -50px, 0);
        transform: translate3d(0px, -50px, 0);
    }

    100% {
        -webkit-transform: translateZ(0);
        opacity: 1;
        transform: translateZ(0);
    }
}

.container {
    width: 100%;
    max-width: 1176px;
    margin: 0 auto;

    @media screen and (min-width: 1328px) {
        max-width: 1280px;
    }

    @media screen and (min-width: 1441px) {
        max-width: 1416px;
        padding-left: 24px;
        padding-right: 24px;
    }

    @media screen and (max-width: 1441px) {
        padding-left: 16px;
        padding-right: 16px;
    }

    &.large {
        @media screen and (min-width: 1888px) {
            max-width: 1840px;
        }
    }
}

.label {
    margin-bottom: 4px;
    font-size: 12px;
    letter-spacing: 0.2px;
    font-weight: 400;
    color: var(--text-color-light);

    @media screen and (max-width: $bp-laptop-md) {
        font-size: 10px;
    }

    &.italic {
        font-style: italic;
    }

    &.large {
        font-size: 18px;
        color: var(--text-color);
    }
}

.about {
    padding-bottom: 64px;

    @media screen and(max-width: $bp-tablet-md) {
        margin: 0 auto;
        padding-bottom: 0px;
    }
}

.text-container {
    max-width: 900px;
    padding-bottom: 56px;
}

.clickable {
    cursor: pointer;
}

.relative {
    position: relative;
}

.features-container {
    margin: 32px 0;

    h3 {
        margin-bottom: 8px;
    }

    .features {
        color: var(--text-color-light);
        padding-left: 24px;

        li {
            color: inherit;
            font-size: 18px;
            margin-bottom: 8px;
            list-style: square;
            // list-style-image: url('/images/keycap-icon-8.svg');

            @media screen and (max-width: 768px) {
                font-size: 14px;
            }
        }
    }
}

.disabled {
    cursor: auto;
    pointer-events: none;
    opacity: 0.5;
}

.mobile-only {
    display: none !important;

    @media screen and (max-width: $bp-tablet-md) {
        display: flex !important;
        flex: 1;
    }
}
.desktop-only {
    display: flex !important;

    @media screen and (max-width: 826px) {
        display: none !important;
    }
}

.heart-icon {
    display: inline-flex;
    color: #787c83;

    .want {
        color: var(--blue);
        .heart-fill {
            color: var(--blue);
        }
    }

    .heart-fill {
        visibility: hidden;
        &.show {
            visibility: visible;
        }
    }

    &:hover {
        .heart-fill {
            visibility: visible;
        }
    }

    &:active {
        color: var(--blue);
    }
}

.no-margin {
    margin: 0 !important;
}

.img {
    background-color: var(--white);
    border-radius: 8px;
    overflow: hidden;
    line-height: 0;
}

.flex {
    display: flex;
    &.align-v-center {
        align-items: center;
    }
    &.align-center {
        justify-content: center;

        @media screen and (max-width: $bp-tablet-md) {
            &.mobile-left {
                justify-content: flex-start;
            }
        }
    }
    &.align-left {
        justify-content: flex-start;
    }
    &.align-right {
        justify-content: flex-end;
    }
    &.space-between {
        justify-content: space-between;
    }
}

.grid {
    display: grid;
    grid-gap: 24px;

    &.v-center {
        align-items: center;
    }

    &.two-column {
        grid-template-columns: 1fr 1fr;
    }
    &.three-column {
        grid-template-columns: 1fr 1fr 1fr;
    }
    &.four-column {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    @media screen and (max-width: $bp-tablet-md) {
        grid-template-columns: 1fr !important;
    }
}

// .grid {
//     display: grid;
//     grid-template-columns: 1fr;
//     grid-gap: 24px;

//     &.two-column {
//         grid-template-columns: 1fr;

//         @media screen and (min-width: 556px) {
//             grid-template-columns: 2fr 1fr;
//         }
//     }
// }

.contact-form {
    .input-wrapper {
        margin-bottom: 12px;
    }

    .controls {
        display: flex;
        justify-content: flex-end;

        .btn:first-child {
            margin-right: 16px;
        }
    }
}

[data-theme='dark'] {
    img {
        opacity: 0.9;
        transition: opacity 200ms;

        // &:hover {
        //     opacity: 1;
        // }
    }

    .vendor-card img {
        filter: invert(100%) grayscale(100%);
        &:hover {
            filter: none;
        }
    }

    // img:not([src*=".svg"]) {

    // }
}
