@import url('https://fonts.googleapis.com/css?family=Rubik:400,400i,500&display=swap');
@import 'variables';
@import 'typography';
@import 'set';
@import 'button';
@import 'heading';
@import 'tabs';
@import 'images';
@import 'image-card';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Rubik', sans-serif;
    background: #f2f2f2;
    min-height: 100.1vh;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
    box-sizing: border-box;
}


.fadeInUp {
    animation-name: fadeInUp;
    animation-direction: forwards;
}

@keyframes fadeInUp {
    0% {
        -webkit-transform: translate3d(0, 100%, 0);
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }

    100% {
        -webkit-transform: translateZ(0);
        opacity: 1;
        transform: translateZ(0);
    }
}

.container {
    width: 100%;
    max-width: 1416px;
    margin: 0 auto;
}
