.nav {
    // background-color: var(--white);
    @media screen and (max-width: 562px) {
        // margin: 0 12px;
    }

    .discord-banner {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        background: #7289da;
        color: #fff;

        img {
            height: 20px;
            margin-right: 10px;
        }
    }

    .logo {
        cursor: pointer;
    }

    .container {
        padding-top: 24px;
        padding-bottom: 24px;
        
        .nav-container {
            display: flex;
            justify-content: space-between;
            align-items: center;

            a {
                color: var(--text-color-light);
                margin-right: 24px;
                transition: 220ms;

                &:hover {
                    color: var(--text-color);
                }

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
}
