.nav {
    .discord-banner {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        background: #7289da;
        color: #fff;

        img {
            height: 20px;
            margin-right: 10px;
        }
    }

    .maintenance-banner {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 8px;
        text-align: center;
        background: #ffe9cd;
        color: #99601f;
    }

    .logo {
        cursor: pointer;
        display: flex;
        align-items: center;

        .pill {
            margin-left: 12px;
        }
    }

    .container {
        padding-top: 80px;
        padding-bottom: 64px;

        @media screen and (max-width: 1280px) {
            padding-top: 64px;
            padding-bottom: 32px;
        }

        @media screen and (max-width: 562px) {
            padding: 24px 12px 0;
        }

        .nav-container {
            display: flex;
            justify-content: space-between;
            align-items: center;

            a.nav-item {
                color: var(--text-color-light);
                margin-right: 24px;
                transition: 220ms;

                &:hover {
                    color: var(--text-color);
                }

                &:last-child {
                    margin-right: 0;
                }
            }

            .nav-items {
                display: inline-flex;
                justify-content: flex-end;
                align-items: center;
                flex: 1;

                .btn-sign-up {
                    position: relative;
                    padding-left: 32px;
                    padding-right: 32px;

                    .popover {
                        width: calc(100% + 80px);
                        position: absolute;
                        top: calc(100%);
                        padding-top: 16px;
                        display: none;

                        // &-container {
                        //     background: var(--white);
                        //     box-shadow: 0px 1px 2px rgba(0, 16, 75, 0.2);
                        //     border-radius: 6px;
                        //     padding: 16px;

                        //     &:after {
                        //         content: '';
                        //         position: absolute;
                        //         top: 6px;
                        //         left: calc(50% - 6px);
                        //         width: 0;
                        //         height: 0;
                        //         border-left: 12px solid transparent;
                        //         border-right: 12px solid transparent;
                        //         border-bottom: 12px solid var(--white);
                        //     }

                        //     a {
                        //         display: flex;
                        //         align-items: center;
                        //         font-size: 14px;
                        //         margin: 0;

                        //         &:first-child {
                        //             margin-bottom: 24px;
                        //         }
                        //     }
                        // }
                    }

                    &:hover {
                        .popover {
                            display: block;
                        }
                    }
                }
            }
        }
    }

    .google-button {
        position: relative;
        transition: 200ms ease-in;

        @media screen and (max-width: 562px) {
            display: none;
        }

        &:after {
            opacity: 0;
            transform: translate(-30%, 16px);
        }
        &:hover {
            &:after {
                opacity: 1;
                content: 'Coming soon';
                box-sizing: content-box;
                position: absolute;
                top: 100%;
                left: 40%;
                transform: translate(-30%, 8px);
                display: block;
                padding: 8px;
                background: white;
                border-radius: 2px;
                color: var(--text-color);
                box-shadow: 0px 1px 2px rgba(0, 16, 75, 0.2);
            }
        }
    }
}
