.nav {
    padding: 24px 0;
    // background-color: var(--white);
    @media screen and (max-width: 562px) {
        margin: 0 12px;
    }

    .logo {
        cursor: pointer;
    }

    .container {
        .nav-container {
            display: flex;
            justify-content: space-between;
            align-items: center;

            a {
                color: var(--text-color-light);
                margin-right: 24px;
                transition: 220ms;

                &:hover {
                    color: var(--text-color);
                }

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
}
