.nav {
    .discord-banner {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        background: #7289da;
        color: var(--white);

        img {
            height: 20px;
            margin-right: 10px;
        }
    }

    .maintenance-banner {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 8px;
        text-align: center;
        background: #ffe9cd;
        color: #99601f;
    }

    .info-banner {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 8px;
        text-align: center;
        background: var(--blue-lighter);
        color: var(--text-color);

        @media screen and (max-width: 768px) {
            font-size: 11px;
        }
    }

    .logo {
        cursor: pointer;
        display: flex;
        align-items: center;
        position: relative;
        z-index: 11;

        .pill {
            margin-left: 12px;
        }
    }

    .hamburger-icon {
        position: absolute;
        top: 32px;
        right: 24px;
        display: none;
        z-index: 11;

        @media screen and (max-width: 768px) {
            display: block;
        }
    }

    .container {
        padding-top: 32px;
        padding-bottom: 32px;

        @media screen and (max-width: 1280px) {
            padding-top: 64px;
            padding-bottom: 32px;
        }

        @media screen and (max-width: 768px) {
            padding: 24px 12px 0;
        }

        .nav-container {
            display: flex;
            justify-content: space-between;
            align-items: center;

            a.nav-item {
                color: var(--text-color-light);
                margin-right: 24px;
                transition: 220ms;

                &:hover {
                    color: var(--text-color);
                }

                &:last-child {
                    margin-right: 0;
                }
            }

            .nav-items {
                display: inline-flex;
                justify-content: flex-end;
                align-items: center;
                flex: 1;

                &.mobile {
                    display: none;
                }

                .btn-sign-up {
                    user-select: all;
                    position: relative;
                    padding-left: 32px;
                    padding-right: 32px;

                    .popover {
                        width: calc(100% + 80px);
                        position: absolute;
                        top: calc(100%);
                        padding-top: 16px;
                        display: none;
                    }
                    @media (hover: hover) {
                        &:hover {
                            .popover {
                                display: block;
                            }
                        }
                    }
                }

                @media screen and (max-width: 768px) {
                    display: none;
                    flex-direction: column;
                    justify-content: center;
                    width: 100%;
                    height: 100vh;
                    position: fixed;
                    z-index: 10;
                    top: 0;
                    left: 0;
                    background: var(--white);

                    &.open {
                        display: flex;
                    }

                    .nav-item {
                        font-size: 14px;
                        margin: 0 0 32px 0;
                    }

                    .btn-sign-up {
                        font-size: 18px;
                        .popover {
                            &-container a {
                                font-size: 16px;
                            }
                            &.on-hover {
                                display: block;
                            }
                        }
                    }
                }
            }
        }
    }

    .google-button {
        position: relative;
        transition: 200ms ease-in;

        @media screen and (max-width: 562px) {
            display: none;
        }

        &:after {
            opacity: 0;
            transform: translate(-30%, 16px);
        }
        &:hover {
            &:after {
                opacity: 1;
                content: 'Coming soon';
                box-sizing: content-box;
                position: absolute;
                top: 100%;
                left: 40%;
                transform: translate(-30%, 8px);
                display: block;
                padding: 8px;
                background: white;
                border-radius: 2px;
                color: var(--text-color);
                box-shadow: 0px 1px 2px rgba(0, 16, 75, 0.2);
            }
        }
    }
}
