.pill {
    border-radius: 4px;
    font-size: 12px;
    padding: 6px 8px;
    display: block;
    font-weight: 500;
    display: inline-flex;

    @media screen and (max-width: $bp-laptop-md) {
        font-size: 11px;
    }

    &.green {
        // background: #d5e7da;
        // color: #60af73;
        background: #d5e7da;
        color: #356c43;
    }

    &.orange {
        // background: #f2e4d3;
        // color: #d99b54;
        background: #ffe9cd;
        color: #99601f;
    }

    &.red {
        // background: #f2d3d8;
        // color: #d95468;
        background: #ffcdd5;
        color: #c5394e;
    }

    &.gray {
        background: #d2d4d8;
        color: #3a4251;
    }

    &.blue {
        background: var(--blue-lightest);
        color: var(--blue);
    }
}
