.pill {
    border-radius: 4px;
    font-size: 12px;
    padding: 6px 8px;
    display: block;
    font-weight: 500;
    display: inline-flex;

    @media screen and (max-width: $bp-laptop-md) {
        font-size: 11px;
    }

    &.green {
        background: var(--green-light);
        color: var(--green);
    }

    &.orange {
        background: var(--orange-light);
        color: var(--orange);
    }

    &.red {
        background: var(--red-light);
        color: var(--red);
    }

    &.gray {
        background: #d2d4d8;
        color: #3a4251;
    }

    &.blue {
        background: var(--blue-lightest);
        color: var(--blue);
    }
}
