.pill {
    border-radius: 8px;
    font-size: 12px;
    padding: 6px 8px;
    display: block;
    font-weight: 500;
    display: inline-flex;

    &.green {
        background: #D5E7DA;
        color: #60AF73;
    }

    &.red {
        background: #F2D3D8;
        color: #D95468;
    }

    &.gray {
        background: #D2D4D8;
        color: #3A4251;
    }
}
