.set {
    padding-bottom: 32px;

    .title {
        margin-bottom: 24px;
    }

    .section {
        padding: 32px 0 24px;
        margin: 0 auto;

        &:first-child {
            padding-top: 0;
        }

        @media screen and (min-width: $bp-tablet-md) {
            padding: 64px 0 32px;
        }
        @media screen and (min-width: $bp-desktop-lg) {
            padding: 80px 0 32px;
        }

        &.last {
            padding-bottom: 0 0 64px 0;
        }
    }

    &-status {
        display: flex;
        align-items: center;
        flex-direction: column;
        max-width: 240px;
        margin: 0 auto;

        @media screen and (min-width: $bp-tablet-md) {
            justify-content: center;
        }

        .heart-icon {
            margin-left: 16px;
        }
        .labels {
            display: flex;
            margin-bottom: 12px;
        }
    }

    &-vibe-section {
        display: grid;
        grid-column-gap: 1.5rem;
        grid-row-gap: 1.5rem;

        @media screen and (min-width: $bp-tablet-md) {
            height: 563px;
        }
        @media screen and (min-width: $bp-tablet-md) and (max-width: 1281px) {
            height: 463px;
        }

        @media screen and (min-width: $bp-tablet-md) {
            &.five {
                grid-template-columns: repeat(4, 1fr);
                .img.main {
                    grid-row: span 2;
                    grid-column: span 2;
                }
            }

            &.three {
                grid-template-columns: repeat(3, 1fr);
                .img.main {
                    grid-row: span 2;
                    grid-column: span 2;
                }
            }

            .img {
                &.main {
                    grid-row: span 2;
                    grid-column: span 2;
                }

                &.base {
                    max-width: 800px;
                    margin: 0 auto;
                }

                img {
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                }
            }
        }

        @media screen and (max-width: $bp-tablet-md) {
            grid-template-columns: repeat(1, 1fr);
            .img {
                display: none;
                &.main {
                    display: block;
                    max-height: 300px;
                }
                &.base {
                    max-height: 500px;
                }
            }
        }
    }

    &-info-section {
        display: flex;
        justify-content: space-between;
        align-items: center;
        // margin: 48px 0 56px;

        &-label {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }

        @media screen and (max-width: $bp-tablet-md) {
            flex-direction: row;
            align-items: flex-start;
            flex-wrap: wrap;
            margin: 24px 0 0;

            &-label {
                flex-basis: 50%;
                align-items: flex-start;
                margin-bottom: 24px;
            }
        }
    }

    &-arrow {
        display: flex;
        justify-content: center;

        @media screen and (max-width: $bp-tablet-md) {
        }
    }

    &-description {
        // margin: 124px auto;
        max-width: 80%;

        @media screen and (max-width: $bp-tablet-md) {
            margin: 32px 0;
            max-width: 100%;
        }
    }

    &-renders {
        .slick-container {
            overflow: hidden;
            max-width: 100%;
            .slick-slider {
                position: relative;

                @media screen and (max-width: $bp-tablet-md) {
                    .slick-arrow {
                        display: none !important;
                    }
                }

                .slick-slide {
                    border-radius: 8px;
                    overflow: hidden;
                    line-height: 0;
                }

                .slick-arrow {
                    font-size: 0;
                    z-index: 2;
                    display: block;
                    width: 50%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    background: rgba(255, 0, 0, 0);
                    outline: none;
                    border: none;
                    transition: 120ms;

                    &.slick-prev {
                        cursor: url('/images/arrow-round-left.svg'), auto;
                    }
                    &.slick-next {
                        left: 50%;
                        cursor: url('/images/arrow-round-right.svg'), auto;
                    }
                }
            }
        }
    }

    &-kits {
        // margin: 56px 0 124px;
        &.keyboard {
        }

        &-grid-container {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 24px;

            @media screen and (max-width: 768px) {
                grid-template-columns: 1fr;
            }

            &.has-description {
                // background: red;
                grid-template-columns: repeat(1, 1fr);
                align-items: center;
            }

            .kit-card {
                &-image {
                    border-radius: 8px;
                    overflow: hidden;
                    box-shadow: 0px 1px 2px rgba(0, 16, 75, 0.2);
                    line-height: 0;
                }

                .description {
                    margin-top: 12px;
                }

                &.has-description {
                    margin: 32px 0;
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    grid-template-rows: 2fr;
                    grid-gap: 24px;
                    align-items: end;

                    .title {
                        font-weight: 500;
                        align-items: end;
                        text-align: left;
                        font-size: 24px;
                    }

                    .kit-card-image {
                        grid-row: span 2;
                    }

                    &:nth-child(even) {
                        .kit-card-image {
                            grid-row: span 2;
                            order: 1;
                        }

                        .description {
                            order: 2;
                        }

                        .kit-card-image {
                            order: 2;
                        }
                    }
                }

                img {
                    line-height: 0;
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }

    &-geekhack {
        // margin: 64px 0 94px;
        display: flex;
        justify-content: center;
    }

    &-vendors {
        &-container {
            @media screen and (min-width: $bp-tablet-md) {
                display: flex;
                justify-content: space-between;

                .vendor-card {
                    flex: 1;
                    padding: 24px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 0 24px;

                    &:last-child {
                        margin-right: 0;
                    }

                    &:hover {
                        img {
                            filter: grayscale(0%);
                        }
                    }

                    img {
                        transition: 200ms;
                        filter: grayscale(100%);
                    }
                }
            }

            @media screen and (max-width: $bp-tablet-md) {
                display: grid;
                grid-column-gap: 1rem;
                grid-row-gap: 1rem;
                grid-template-columns: repeat(2, 1fr);

                .vendor-card {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-basis: 50%;
                    padding: 12px;
                    width: 100%;
                    height: 124px;

                    img {
                        max-height: 90%;
                    }
                }
            }
        }
    }

    &-links {
        .links {
            display: flex;
            justify-content: space-between;

            @media screen and (max-width: $bp-tablet-md) {
                flex-direction: column;
            }

            .video-container {
                flex: 1;
                display: flex;
                margin-right: 24px;
                min-height: 300px;
                border-radius: 8px;
                overflow: hidden;

                @media screen and (max-width: $bp-tablet-md) {
                    margin-right: 0;
                    margin-bottom: 24px;

                    min-height: 200px;
                }

                iframe {
                    width: 100%;
                }

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }

    &-img-text {
        display: grid;
        grid-column-gap: 1.5rem;
        grid-row-gap: 1.5rem;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;

        @media screen and (max-width: $bp-tablet-md) {
            grid-template-columns: repeat(1, 1fr);
        }

        h3 {
            margin-bottom: 12px;
        }
    }
}
