.tabs {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 88px;

    ul {
        display: flex;
    }

    .tab {
        margin: 0 8px;


        .btn {
            width: 88px;
        }
    }
}
