.filters {
    display: flex;
    align-items: center;
    margin-top: 88px;
    margin-bottom: 12px;

    .tabs {
        display: inline-flex;
        flex-direction: column;

        ul {
            display: flex;

            li:first-child {
                margin-left: 0;
            }
        }

        .tab {
            margin: 0 8px;


            .btn {
                width: 88px;
            }
        }
    }

    .search-input {
        margin-left: 48px;
        display: inline-flex;
        flex-direction: column;
        flex: 1;

        .input-wrapper {
            display: block;
            height: 100%;
        }
    }

}
