.filters {
    display: flex;
    align-items: center;
    margin: 64px 0 24px;

    @media screen and (max-width: 556px) {
        margin: 24px 0;
    }

    .select {
        display: none;
        @media screen and (max-width: 556px) {
            display: flex;
            flex: 1;
        }
    }

    .tabs {
        display: inline-flex;
        flex-direction: column;

        @media screen and (max-width: 556px) {
            display: none;
        }

        ul {
            display: flex;

            li:first-child {
                margin-left: 0;
            }
        }

        .tab {
            margin: 0 8px;


            .btn {
                width: 88px;
            }
        }
    }

    .search-input {
        margin-left: 48px;
        display: inline-flex;
        flex-direction: column;
        flex: 1;

        .input-wrapper {
            display: block;
            height: 100%;
        }
    }

}
