.upload {
    padding-top: 80px;
    // display: flex;
    // justify-content: center;
    // align-items: center;

    .cards {
        display: flex;
        flex-basis: 80%;

        .card {
            height: 300px;
            background: var(--white);
            flex: 1;
            display: inline-flex;

            a {
                display: flex;
                height: 100%;
                width: 100%;
                justify-content: center;
                align-items: center;
            }

            &:first-child {
                margin-right: 24px;
            }
        }
    }
}
