.upload {
    .grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 24px;

        @media screen and (min-width: 556px) {
            margin: 0 12px;
        }

        &.two-column {
            grid-template-columns: 1fr;

            @media screen and (min-width: 556px) {
                grid-template-columns: 2fr 1fr;
            }

        }
    }

    .form-ruler {
        margin: 24px 0 24px;
        width: 100%;
        height: 1px;
        display: block;
        border-radius: 1px;
        background-color: #e2e5eb;
    }

    .form-sub-title {
        margin-bottom: 8px;
    }

    .column {
        margin-top: 40px;

        @media screen and (max-width: 556px) {
            margin: 32px 12px 0;
        }
    }

    .input-wrapper {
        margin-bottom: 12px;
    }

    .cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 24px;
        margin-top: 64px;

        @media screen and (max-width: 556px) {
            grid-template-columns: 1fr;

            margin: 32px 12px 0;
        }

        .card {
            height: 300px;
            background: var(--white);
            border-radius: 8px;
            box-shadow: inset 0 -1px 0 0 rgba(234, 234, 234, 0.98);
            box-shadow: 0px 1px 2px rgba(0, 16, 75, 0.2);
            transition: 120ms cubic-bezier(0.445, 0.05, 0.55, 0.95);

            @media screen and (max-width: 556px) {
                height: 144px;
            }

            &:hover {
                transform: scale(1.03);
                box-shadow: 0px 2px 6px rgba(0, 16, 75, 0.2);
            }

            a {
                display: flex;
                height: 100%;
                width: 100%;
                justify-content: center;
                align-items: center;
            }

            &:first-child {
                margin-right: 24px;

                @media screen and (max-width: 556px) {
                    margin-right: 0;
                }
            }
        }
    }
}
