.user-profile-tag {
    position: relative;

    .profile-image,
    .profile-tag {
        width: 48px;
        height: 48px;
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0px 1px 2px rgba(0, 16, 75, 0.2);
        cursor: pointer;
        transition: 120ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
    }

    .profile-tag {
        background-color: var(--white);
        letter-spacing: 0.5px;
        color: var(--text-color-light);
        text-transform: uppercase;
        font-weight: 700;
        font-size: 16px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
    }
}
