  :root {
    --text-color: #323232;
    --panel-background: #f2f2f2;
    --blue-darker: #306AB0;
    --blue: #539BFB;
    --blue-lighter: #ABCCF8;
    --blue-lightest: #FAFCFE;

    --darkest-gray: ;
    --light-gray: ;
    --lightest-gray: ;
  }

  // Breakpoints
  $bp-mobile-sm: 321px;
  $bp-mobile-md: 376px;
  $bp-mobile-lg: 414px;
  $bp-tablet-sm: 562px;
  $bp-tablet-md: 768px;
  $bp-desktop-sm: 1120px;
  $bp-desktop-md: 1280px;
  $bp-desktop-lg: 1536px;
